<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <add key="ClientID" value="YourClientID"/>
  <add key="SecretID" value="YourSecretId"/>
  <add key="UserID" value="YourUserId"/>
  <add key="BasePlaylistUrl" value="https://api.spotify.com/v1/users/"/>  
  <add key="TrackSearchBaseUrl" value="https://api.spotify.com/v1/search"/>
  <add key="PlaylistAddTrackhBaseUrl" value="https://api.spotify.com/v1/playlists/{playlist_id}/tracks"/>
  <add key="ForgeCallbackUrl" value="https://fake.com/api/forge/callback/oauth"/>
  <add key="ForgeScope" value="user-read-private user-read-email playlist-modify-public playlist-modify-private"/>
  <add key="SpotityTokenBaseUrl" value="https://accounts.spotify.com/api/token"/>  
</appSettings>